* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
	width: 512px;
	position: relative;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	
	.search, .video {
		background-color:transparent;
		color: white;
		border: none;
	}

	.explore, .followed, .for_you {
		background-color:transparent;
		color: rgba(255, 255, 255, 0.667);
		border: none;
		padding: 5px;
	}

	.for_you {
		border-bottom: solid white ;
	}

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* Sidebar */
.sidebar {
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
	.sidebar-btn {
		background-color: transparent;
		color: white;
		border: none;
		font-size: 20px;
	}
	
	p {
		font-size: 10px;
	}
	

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

.plus-icon {
	position: absolute;
	translate: 90% 120%;
	color: red;
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

/* --------------------- */
