* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
	width: 512px;
	position: relative;
	font-family: "TikTok Sans", sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	justify-content: space-around;
	top: 0;
	left: 0;
	right: 0;
	
	.search, .video {
		background-color:transparent;
		color: white;
		border: none;
		font-size: 16px;
	}

	.explore, .followed {
		background-color:transparent;
		color: rgba(255, 255, 255, 0.667);
		border: none;
		padding: 5px;
	}

	.for_you {
		color: white;
		border: none;
		border-bottom: solid white ;
		padding: 5px;
		background-color:transparent;
	}

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	font-size: 12px;
	
	
 a {
	text-decoration: none;
	color: white;
	font-weight: bold;
 }
 p {
	padding-top: 8px;
	padding-bottom: 6px;
 }
 button {
	font-size: 10px;
	background-color: transparent;
	color: white;
	border: none;
	font-weight: bold;
 }
	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}
.bottom-banner{
	background-color: black;
	color: white;
	padding-bottom: 30px;
	display: flex;
	justify-content: center ;
	justify-content: space-around;

	.btn-b{
		font-size: 20px;
		padding-top: 30px;
	}
	span{
		font-size: 8px;
	}
	.bi {
		border: none;
		border-radius: px;
	}
	.bi-plus-square-fill{
		border-left: solid turquoise ;
		border-right: rgb(235, 8, 118) solid;
		
	}
}

/* Sidebar */
.sidebar {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
	.sidebar-btn {
		background-color: transparent;
		color: white;
		border: none;
		font-size: 20px;
	}
	
	p {
		font-size: 10px;
	}
	.boolean-logo{
		border: solid ;
		border-radius: 2rem;
	}

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

.plus-icon {
	position: absolute;
	translate: 60% 120%;
	color: red;
}


